.detail {
    background-color: rgba(244, 246, 254, 1);
    padding: heightProp(60) widthProp(416) heightProp(60) widthProp(292);
    position: relative;  

    @include mobile-breakpoint {
        flex-direction: column;
        padding: heightProp(60) widthProp(60);
    }

    @include tablet-breakpoint {
    }

    &__box {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        padding: rem(60);
    }

    &__backBtn {
        background-color: #fff;
        border-radius: 8px;
        color: #2E57FA;
        height: rem(44);
        margin-right: rem(80);
        padding: rem(15) rem(14);

        @include mobile-breakpoint {
            margin-bottom: rem(60);
            width: rem(44);
        }
    } 

    &__card {
        margin-bottom: rem(30);

        &-photo {
            position: relative;
            margin-bottom: rem(23);
            
            img:nth-child(2) {
                height: rem(150);
                width: rem(150);

            }

            &--available {
                height: rem(23);
                left: -10px;
                position: absolute;
                top: -6px;
                width: rem(23);            
            }

            &--generic {
                opacity: 0.5;
            }
        }

        &-status {
            box-sizing: border-box;
        }

        &-information {

            h1 {
                @include mobile-breakpoint {
                    font-size: rem(20);
                }

                font-size: rem(26);
                font-weight: 700;
                line-height: rem(31.47);
                margin-bottom: rem(10) !important;
            }
        }

        &-infoComponent {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 rem(10) rem(20) rgba(204, 208, 223, 0.5);
            height: 100%;
            padding: rem(28);

            hr {
                border: 1px solid rgba(177, 185, 219, 0.5);
                margin: rem(28) 0;
            }

            span {
                @include mobile-breakpoint {
                    font-size: rem(10);
                }

                color: #B1B9DB;
                font-weight: $light-weight;
                font-size: rem(16);
                line-height: rem(24);
            }

            p {
                @include mobile-breakpoint {
                    font-size: rem(10);
                }

                font-weight: 400;
                font-size: rem(16);
                line-height: rem(24);
            }

            &--bio {
                span {
                    margin-bottom: rem(10);
                }
            }

            &--phone {

                @include mobile-breakpoint {
                    flex-direction: column;
                    align-items: flex-start !important;
                }
            }

            &--addressData {
                
                div {
                    margin-bottom: rem(14);

                    @include mobile-breakpoint {
                        flex-direction: column;
                        align-items: flex-start !important;
                    }
                }
            }


        }

        &-photosTab {
            border-radius: 8px;
            box-shadow: 0 rem(10) rem(20) rgba(204, 208, 223, 0.5);
            min-height: 34vh;
            padding: 0 rem(10);

            div {
                padding: rem(10) rem(10) !important;
            }

            img {
                border-radius: 4px;
                height: 100%;
                width: 100%;
            }

            &--modal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                @include mobile-breakpoint {
                    align-items: center !important;
                }


                &__background{
                    background-color: rgba(55, 62, 90, 0.9);
                    height: 100%;
                    left: 0;
                    position: fixed;
                    top: 0;
                    width: 100%;            
                    z-index: -1;
                }

                &__zoomedImage{
                    height: heightProp(656) !important;
                    transition: width 0.3s ease; 
                    width: widthProp(985) !important;

                    @include mobile-breakpoint {
                        width: 80% !important;
                    }
                }

                &__normalImage{
                    width: 100%;
                    transition: width 0.3s ease;
                }

                &__closeBtn {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;
                    color: #fff;
                    height: rem(44);
                    position: absolute;
                    right: 60px;
                    top: 60px;
                    width: rem(44);
                    z-index: 1;
                }
            }
        }
    }

    &__tab {
        border: 0 !important;
        border-radius: 0 !important;
        margin-bottom: rem(10);
        width: rem(65);

        &-active {
            border-bottom: 2px solid #000000 !important;   
        }

    }
}