$primary-font-family: "Inter", sans-serif;
$light-weight: 500;
$bold-weight: 700;

@import "./_rem-calculator";
@import "./_dimensions-calculator";
@import "./_details.styles";
@import './_list.styles';

body {
  font-family: $primary-font-family;
}

.loading-container {
  height: 100vh;
}

.spinner-border {
  color: #A3D8FF !important;
  --bs-spinner-width: 12rem !important;
  --bs-spinner-height: 12rem !important;
  --bs-spinner-vertical-align: -0.125em !important;
  --bs-spinner-border-width: 1.25em !important;
  --bs-spinner-animation-speed: 1.5s !important;
}



