$primary-font-family: "Inter", sans-serif;
$light-weight: 500;
$bold-weight: 700;

@import "./_rem-calculator";
@import "./_dimensions-calculator";
@import "./_details.styles";
@import './_list.styles';

body {
  font-family: $primary-font-family;
}




